/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato');

body {
  background: #2f3136 !important;
  position: relative;
  /*color: white;*/
  height: 100vh;
  /*background: #282c34;*/
  /*background: linear-gradient(*/
  /*  200.96deg,*/
  /*  #fedc2a -29.09%,*/
  /*  #dd5789 51.77%,*/
  /*  #7a2c9e 129.35%*/
  /*);*/
  /*font-family: 'Lato', sans-serif;*/
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/*h2 {*/
/*  margin: 0;*/
/*  font-size: 2.25rem;*/
/*  font-weight: bold;*/
/*  letter-spacing: -0.025em;*/
/*  color: #fff;*/
/*}*/

.button-text {
  margin-bottom: 0;
  font-size: 1rem;
}

.Hello {
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /*margin: 20px 0;*/
  /*background: #282c34;*/
  /*background: #2F3136;*/

  color: white;
  /*flex-direction: column;*/
  /*height: 100%;*/
  font-size: calc(20px);
  width: 100%;
}

.controller {
  height: calc(92vh - 30px);
  max-height: 900px;

  margin-top: 4vh;
  margin-bottom: 4vh;
}

.controllerparent {
  min-height: calc(100vh - 30px);

  display: flex;
  align-items: center;
}

.footer {
  font-size: 0.9rem;
  vertical-align: center;
}

.filter-white {
  transition: filter 0.15s ease-in-out;
  filter: invert(100%);
}

.btn:focus {
  box-shadow: none;
}

.btn-dark.focus,
.btn-dark:focus {
  background-color: #343a40 !important;
  border-color: #343a40 !important;
  box-shadow: none !important;
}

.btn-primary.focus,
.btn-primary:focus {
  background-color: #007bff !important;
  border-color: #007bff !important;
  box-shadow: none !important;
}

.btn-danger.focus,
.btn-danger:focus {
  background-color: #dc3545 !important;
  border-color: #dc3545 !important;
  box-shadow: none !important;
}

.btn-warning.focus,
.btn-warning:focus {
  background-color: #ffc107 !important;
  border-color: #ffc107 !important;
  box-shadow: none !important;
}

.btn-light.focus,
.btn-light:focus {
  background-color: #f8f9fa !important;
  border-color: #f8f9fa !important;
  box-shadow: none !important;
}
